* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 46px;
}
body {
    margin: 0px;
    background-color: #201f1f;
    color: #ffffff;
    font-family: 'montserrat';
    overflow-x: hidden;
}
header {
    width: 100%;
    /* background-color: #201f1f; */
    padding-block: 10px;
    z-index: 7;
    top: 0;
    position: absolute;
    /* transition: all 0.5s; */
}

.navbar-fixed {
    position: fixed;
    /* top: 0px; */
    background-color: #161616;
    animation: fade-in 0.3s;
}

@keyframes fade-in {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}
.navbar {
    width: 100%;
    padding-inline: 100px;
    display: flex;
    flex-direction: row;
}

.navbar > a {
    margin-block: auto;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
}

.navbar .hamburger {
    display: none;
}

.navbar .navbar-items {
    width: 70%;
    text-align: right;
}

.navbar .navbar-items ul {
}

.navbar .navbar-items ul li {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding-inline: 16px;
}

main {
    padding-inline: 172px;
}

.hero {
    width: 100%;
    margin-top: 80px;
    /* padding-inline: 172px; */
    padding-block: 72px;
}

.hero .container {
    display: flex;
    width: 100%;
    /* margin-inline: 172px; */
    /* min-width: 990px; */
}

.hero .container .info {
    margin-right: 156px;
}

.hero .container .info h2 {
    font-size: 30px;
}

/* .hero .container .info h1 {
    font-size: 46px;
} */

.hero .container .info p {
    color: #bfbfbf;
    margin-block: 48px;
    line-height: 1.5;
}

.button-block {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.button-block button {
    border: none;
    border-radius: 3px;
    background-color: #199cdb;
    min-width: 156px;
    padding-block: 16px;
}

.button-block button a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-block button a svg {
    width: 24px;
    fill: white;
}
.button-block button a span {
    font-weight: bold;
    margin-left: 8px;
}
.button-block ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.button-block ul li {
    display: inline-block;
    margin-inline: 24px;
}
/* .button-block ul li a svg {
    width: 40px;
    fill: #bfbfbf;
} */

.hero .container .image img {
    width: 280px;
    /* background-color: #383838; */
    background: linear-gradient(to bottom, #383838, #262626);
    filter: grayscale();
}

#project {
    padding-top: 80px;
    margin-bottom: 72px;
    /* padding-inline: 172px; */
    /* width: 100%; */
}

#project .project-container {
    width: 100%;
    /* background-color: red; */
}

#project .project-container .project-list {
    width: 100%;
    display: flex;
}

#project .project-container .project-list a {
    position: relative;
    display: block;
    /* width: 100px; */
    margin-bottom: 24px;
    width: 100%;
    /* height: 625px; */
    transition: all 0.3s linear;
    overflow: hidden;
}

#project .project-container .project-list a::after {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

#project .project-container .project-list a:hover::after {
    background-color: rgba(0, 0, 0, 0.3);
    /* content: attr(data-title);
    text-align: center;
    padding-block: 50%; */
}

#project .project-container .project-list a::before {
    content: attr(data-title);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: 32px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
}
#project .project-container .project-list a:hover::before {
    opacity: 1;
}

#project .project-container .project-list a img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: transform 0.3s;
}

#project .project-container .project-list a:hover img {
    transform: scale(1.1);
}

#contact {
    padding-top: 80px;
    margin-bottom: 72px;
    /* padding-inline: 172px; */
}

#contact .contact-container {
    /* padding-inline: 80px; */
}

#contact .contact-container form label {
    display: block;
    margin-top: 24px;
    margin-bottom: 8px;
}
/* #contact .contact-container form input {
    padding: 16px;
} */
#contact .contact-container form input,
#contact .contact-container form textarea {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 16px;
    font-size: 16px;
}

#contact .contact-container form textarea {
    height: 128px;
    resize: vertical;
}

#contact .contact-container form button {
    background-color: #199cdb;
    width: 100%;
    padding: 16px;
    margin-top: 24px;
    /* margin: auto; */
    color: #ffffff;
    border-radius: 5px;
    border: none;
}
.footer {
    padding-inline: 172px;
    padding-block: 32px;
    background-color: #161616;
}

.footer .footer-container {
    width: 100%;
    text-align: center;
    /* padding-inline: 312px; */
}

.footer .footer-container ul {
    margin: 0;
    padding: 0;
    padding-block: 8px;
    border-bottom: 2px solid #bfbfbf;
}

.footer .footer-container ul li {
    display: inline-block;
    margin-inline: 24px;
}

.footer .footer-container div {
    padding-block: 8px;
}

@media screen and (max-width: 732px) {
    h1 {
        font-size: 30px;
        margin: 0;
    }

    h2 {
        font-size: 16px !important;
    }

    header {
        /* display: none; */
        padding: 0;
        background-color: black;
    }

    .navbar {
        padding-inline: 16px;
    }

    .navbar > a {
        font-size: 16px;
        width: 100%;
    }

    .navbar .hamburger {
        float: right;
        display: flex;
        padding: 16px;
        flex-direction: column;
    }

    .navbar .hamburger div {
        background-color: #fff;
        width: 32px;
        height: 2px;
        margin-bottom: 4px;
        transition: all 0.3s;
    }

    .navbar .hamburger div:last-child {
        margin-bottom: 0;
    }

    .hamburger.toggle div:first-child {
        transform: rotate(45deg) translateX(8px);
        /* transform-origin: 70%; */
    }

    .hamburger.toggle div:nth-child(2) {
        transform: scaleX(0);
    }

    .hamburger.toggle div:last-child {
        transform: rotate(-45deg) translateX(8px);
    }

    .navbar .navbar-items {
        display: none;
    }
    .hero {
        text-align: center;
        margin-top: 0px;
        padding-block: 0px;
    }

    .hero .container {
        flex-direction: column;
    }

    .hero .container .info {
        text-align: left;
        margin-right: 0px;
        order: 2;
    }

    .hero .container .info p {
        margin-block: 16px;
    }

    .button-block ul li {
        /* display: inline-block; */
        margin-inline: 16px;
    }

    .hero .container .image {
        order: 1;
        text-align: center;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #383838, #262626);
        /* background-color: #383838; */
        padding: 0px;
        overflow: hidden;
    }

    .hero .container .image img {
        width: auto;
        background: none;
        filter: grayscale();
        /* object-fit: cover; */
    }

    #project {
        margin-bottom: 0px;
        padding-bottom: 0px;
        /* padding-inline: 172px; */
        /* width: 100%; */
    }

    #project .project-container .project-list {
        flex-direction: column;
        margin-top: 32px;
    }

    #contact {
        padding-top: 64px;
        /* margin-bottom: 72px; */
        /* padding-inline: 172px; */
    }

    #contact .contact-container {
        margin-top: 32px;
    }

    .footer {
        padding-inline: 0px;
    }

    main {
        padding: 16px;
    }
}
